<div id="particles-su-js"
	 class="particles-js bx-d-flex bx-text-center bx-align-items-center bx-justify-content-center identity-form">
	<div class="bx-d-absolute">
		<div class="form-identity__container">
			<form class="form-identity"
				  [formGroup]="SignUpForm"
				  (ngSubmit)="ProcessSignUpWithEmailAndPassword()">
				<a class="btn btn-link"
				   routerLink="/"
				   aria-label="Click to go to the home page">
					<img class="mb-4 main-logo"
						 src="/assets/images/logo355x44.png"
						 alt=""
						 width="285"
						 height="35">
				</a>
				<h1 class="form-identity__header">Sign up for an account</h1>
				<ng-container *ngIf="FormError != ''">
					<mat-card class="bx-warn-card form-identity__warn">{{ FormError }}</mat-card>
				</ng-container>
				<div class="bx-d-flex">
					<mat-form-field class="bx-w-100">
						<mat-label>First name</mat-label>
						<input matInput
							   type="text"
							   class="form-control me-1"
							   name="signUpFirstName"
							   id="signUpFirstName"
							   autocomplete="off"
							   aria-describedby="emailHelp"
							   placeholder="First name"
							   formControlName="signUpFirstName"
							   required />
					</mat-form-field>
					<mat-form-field class="bx-w-100">
						<mat-label>Last name</mat-label>
						<input matInput
							   type="text"
							   class="form-control ms-1"
							   name="signUpLastName"
							   id="signUpLastName"
							   autocomplete="off"
							   aria-describedby="emailHelp"
							   placeholder="Last name"
							   formControlName="signUpLastName"
							   required />
					</mat-form-field>
				</div>
				<mat-error *ngIf="SignUpFirstName?.invalid && (SignUpFirstName?.dirty && SignUpFirstName?.touched)"
						   class="alert alert-danger">
					<div *ngIf="SignUpFirstName.errors.required">
						First name is required.
					</div>
					<div *ngIf="SignUpFirstName.errors.minLength">
						First name must be at least 1 character.
					</div>
				</mat-error>
				<mat-error *ngIf="SignUpLastName?.invalid && (SignUpLastName?.dirty && SignUpLastName?.touched)"
						   class="alert alert-danger">
					<div *ngIf="SignUpLastName.errors.required">
						Last name is required.
					</div>
					<div *ngIf="SignUpLastName.errors.minLength">
						Last name must be at least 1 character.
					</div>
				</mat-error>
				<mat-form-field class="bx-w-100">
					<mat-label>Email address</mat-label>
					<input matInput
						   type="email"
						   class="form-control"
						   name="signUpEmail"
						   id="signUpEmail"
						   autocomplete="off"
						   aria-describedby="emailHelp"
						   placeholder="Email address"
						   formControlName="signUpEmail"
						   required />
				</mat-form-field>
				<mat-error *ngIf="SignUpEmail?.invalid && (SignUpEmail?.dirty && SignUpEmail?.touched)"
						   class="alert alert-danger">
					<div *ngIf="SignUpEmail.errors.required">
						Email is required.
					</div>
					<div *ngIf="SignUpEmail.errors.minLength">
						Email must be at least 3 characters.
					</div>
				</mat-error>
				<mat-form-field class="bx-w-100">
					<mat-label>Email address</mat-label>
					<input matInput
						   type="password"
						   class="form-control"
						   name="signUpPassword"
						   id="signUpPassword"
						   autocomplete="off"
						   aria-describedby="passwordHelp"
						   placeholder="Password"
						   formControlName="signUpPassword"
						   required />
				</mat-form-field>
				<mat-error *ngIf="SignUpPassword.invalid && (SignUpPassword.dirty && SignUpPassword.touched)"
						   class="alert alert-danger">
					<div *ngIf="SignUpPassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="SignUpPassword.errors.minLength">
						Password must be at least 8 characters.
					</div>
				</mat-error>
				<button mat-raised-button
						color="accent"
						class="bx-w-100"
						type="submit"
						[disabled]="SignUpForm.invalid">
					Sign up
				</button>
				<hr />
				<div>
					<a class="btn btn-link"
					   routerLink="/identity/login">Already have an account? Log in</a>
				</div>
				<p class="bx-text-accent legal-banner">
					By clicking the "Sign up" button, you are creating an account, and agree to our'
					<a href="/about/terms-of-service">Terms of Service</a> and <a href="/about/privacy-policy">Privacy Policy</a>
				</p>
				<p class="bx-mt-3 bx-mb-3">&copy; {{ CurrentYear }}</p>
			</form>
		</div>
	</div>
</div>