<div id="particles-js"
	 class="bx-d-flex bx-text-center bx-align-items-center bx-justify-content-center identity-form">
	<div class="bx-d-absolute">
		<div class="form-identity__container">
			<form class="form-identity"
				  [formGroup]="SignInForm"
				  (ngSubmit)="ProcessSignIn()">
				<a class="btn btn-link"
				   routerLink="/"
				   aria-label="Click to go to the home page">
					<img class="mb-4 main-logo"
						 src="/assets/images/logo355x44.png"
						 alt=""
						 width="285"
						 height="35">
				</a>
				<h1 class="form-identity__header">Log in to your account</h1>
				<div *ngIf="FormError != ''"
					 class="alert alert-danger">
					<span>{{FormError}}</span>
				</div>
				<label for="signInEmail"
					   class="bx-sr-only">Email address</label>
				<input type="email"
					   class="form-control"
					   name="signInEmail"
					   id="signInEmail"
					   autocomplete="off"
					   aria-describedby="emailHelp"
					   placeholder="Email address"
					   formControlName="signInEmail"
					   required>
				<div *ngIf="SignInEmail?.invalid && (SignInEmail?.dirty && SignInEmail?.touched)"
					 class="alert alert-danger">
					<div *ngIf="SignInEmail.errors.required">
						Email is required.
					</div>
					<div *ngIf="SignInEmail.errors.minLength">
						Email must be at least 3 characters.
					</div>
				</div>
				<label for="signInPassword"
					   class="bx-sr-only">Password</label>
				<input type="password"
					   class="form-control"
					   name="signInPassword"
					   id="signInPassword"
					   autocomplete="off"
					   aria-describedby="passwordHelp"
					   placeholder="Password"
					   formControlName="signInPassword"
					   required>
				<div *ngIf="SignInPassword.invalid && (SignInPassword.dirty && SignInPassword.touched)"
					 class="alert alert-danger">
					<div *ngIf="SignInPassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="SignInPassword.errors.minLength">
						Password must be at least 8 characters.
					</div>
				</div>
				<div class="text-left">
					<a class="btn btn-link"
					   routerLink="/identity/forgot-password">Forgot your password?</a>
				</div>
				<br />
				<button class="btn btn-lg btn-primary w-100"
						type="submit"
						mat-button
						color="accent"
						[disabled]="!SignInForm.valid">
					Log in
				</button>
				<hr />
				<div>
					<a class="btn btn-link"
					   routerLink="/identity/signup">Don't have an account? Sign up</a>
				</div>
				<p class="mt-5 mb-3">&copy; {{ CurrentYear }}</p>
			</form>
		</div>
	</div>
</div>