<div id="particles-li-js"
	 class="particles-js bx-d-flex bx-text-center bx-align-items-center bx-justify-content-center identity-form">
	<div class="bx-d-absolute">
		<div class="form-identity__container">
			<form class="form-identity"
				  [formGroup]="SignInForm"
				  (ngSubmit)="ProcessSignIn()">
				<a class="btn btn-link"
				   routerLink="/"
				   aria-label="Click to go to the home page">
					<img class="mb-4 main-logo"
						 src="/assets/images/logo355x44.png"
						 alt=""
						 width="285"
						 height="35">
				</a>
				<h1 class="form-identity__header">Log in to your account</h1>
				<ng-container *ngIf="FormError != ''">
					<mat-card class="bx-warn-card form-identity__warn">{{ FormError }}</mat-card>
				</ng-container>
				<mat-form-field class="bx-w-100">
					<mat-label>Email address</mat-label>
					<input matInput
						   type="email"
						   class="form-control"
						   name="signInEmail"
						   id="signInEmail"
						   autocomplete="off"
						   aria-describedby="emailHelp"
						   placeholder="Email address"
						   formControlName="signInEmail"
						   required>
				</mat-form-field>
				<mat-error *ngIf="SignInEmail?.invalid && (SignInEmail?.dirty && SignInEmail?.touched)">
					<div *ngIf="SignInEmail.errors.required">
						Email is required.
					</div>
					<div *ngIf="SignInEmail.errors.minLength">
						Email must be at least 3 characters.
					</div>
				</mat-error>
				<mat-form-field class="bx-w-100">
					<mat-label>Password</mat-label>
					<input matInput
						   type="password"
						   class="form-control"
						   name="signInPassword"
						   id="signInPassword"
						   autocomplete="off"
						   aria-describedby="passwordHelp"
						   placeholder="Password"
						   formControlName="signInPassword"
						   required>
				</mat-form-field>
				<mat-error *ngIf="SignInPassword.invalid && (SignInPassword.dirty && SignInPassword.touched)">
					<div *ngIf="SignInPassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="SignInPassword.errors.minLength">
						Password must be at least 8 characters.
					</div>
				</mat-error>
				<div class="bx-text-left">
					<a class="btn btn-link"
					   routerLink="/identity/forgot-password">Forgot your password?</a>
				</div>
				<br />
				<button mat-raised-button
						color="accent"
						class="bx-w-100"
						type="submit"
						[disabled]="SignInForm.invalid">
					Log in
				</button>
				<hr />
				<div>
					<a class="btn btn-link"
					   routerLink="/identity/signup">Don't have an account? Sign up</a>
				</div>
				<p class="bx-text-accent bx-mt-5 bx-mb-3">&copy; {{ CurrentYear }}</p>
			</form>
		</div>
	</div>
</div>