<button mat-icon-button
		color="accent"
		[matMenuTriggerFor]="appMenu">
	<mat-icon>more_vert</mat-icon>
</button>
<mat-menu #appMenu="matMenu">
	<ng-template matMenuContent>
		<button mat-menu-item
				aria-label="Create a collection"
				title="Create a collection"
				(click)="AddCollection()">
			<mat-icon>create_new_folder</mat-icon>
			Add
		</button>
		<button mat-menu-item
				aria-label="Delete folder"
				title="Delete folder"
				(click)="DeleteCollection()">
			<mat-icon>folder_delete</mat-icon>
			Delete
		</button>
	</ng-template>
</mat-menu>