<div id="particles-fp-js"
	 class="particles-js bx-d-flex bx-text-center bx-align-items-center bx-justify-content-center identity-form">
	<div class="bx-d-absolute">
		<div class="form-identity__container">
			<form class="form-identity"
				  [formGroup]="ForgotPasswordForm"
				  (ngSubmit)="ProcessForgotPassword()">
				<a class="btn btn-link"
				   routerLink="/"
				   aria-label="Click to go to the home page">
					<img class="mb-4 main-logo"
						 src="/assets/images/logo355x44.png"
						 alt=""
						 width="285"
						 height="35">
				</a>
				<h1 class="form-identity__header">Reset password</h1>
				<ng-container *ngIf="FormError != ''">
					<mat-card class="bx-warn-card form-identity__warn">{{ FormError }}</mat-card>
				</ng-container>
				<mat-form-field class="bx-w-100">
					<mat-label>Email address</mat-label>
					<input matInput
						   type="email"
						   name="forgotPasswordEmail"
						   id="forgotPasswordEmail"
						   autocomplete="off"
						   aria-describedby="emailHelp"
						   placeholder="Email address"
						   formControlName="forgotPasswordEmail"
						   required>
				</mat-form-field>
				<mat-error *ngIf="ForgotPasswordEmail?.invalid && (ForgotPasswordEmail?.dirty && ForgotPasswordEmail?.touched)">
					<div *ngIf="ForgotPasswordEmail.errors.required">
						Email is required.
					</div>
					<div *ngIf="ForgotPasswordEmail.errors.minLength">
						Email must be at least 3 characters.
					</div>
				</mat-error>
				<br />
				<button mat-raised-button
						color="accent"
						class="bx-w-100"
						type="submit"
						[disabled]="ForgotPasswordForm.invalid">
					Send reset link
				</button>
				<hr />
				<div>
					<a class="btn btn-link"
					   routerLink="/identity/signup">Don't have an account? Sign up</a>
				</div>
				<p class="bx-text-accent bx-mt-5 bx-mb-3">&copy; {{ CurrentYear }}</p>
			</form>
		</div>
	</div>
</div>